Repository narfai/futurecommander, pull requests merged in 2019-06, with the labels that each got.

#46 Noticeable virtual file or directory
  futurecommander_filesystem/src/infrastructure/real/entry_path.rs
  futurecommander_filesystem/src/infrastructure/virt/entry_status.rs
  futurecommander_filesystem/src/port/entry.rs
  futurecommander_filesystem/src/port/serializable.rs
  futurecommander_gui/app_node/filesystem/response.js
  futurecommander_gui/app_web/common/icon.js
  futurecommander_gui/app_web/common/mock.js
  futurecommander_gui/app_web/entry/component.js
Labels: FILESYSTEM, GUI, enhancement

#47 adding coloration for virtual file display
  futurecommander_shell/src/command/list.rs
  futurecommander_shell/src/command/mod.rs
  futurecommander_shell/src/command/tree.rs
Labels: SHELL, enhancement

#60 Gui virtually remove a file or directory
  futurecommander_client/src/client.rs
  futurecommander_daemon/src/request/list.rs
  futurecommander_daemon/src/router.rs
  futurecommander_gui/app_web/common/icon.js
  futurecommander_gui/app_web/entry/action.js
  futurecommander_gui/app_web/entry/component.js
  futurecommander_protocol/src/header.rs
  futurecommander_protocol/src/message/mod.rs
  futurecommander_protocol/src/message/remove.rs
  futurecommander_protocol/src/packet.rs
Labels: DAEMON, GUI, PROTOCOL
